<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KETO DIET APP</title>
    <link rel="stylesheet" th:href="@{style.css}"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"></head>
<body>
<div th:replace="~{fragments/header::header}"></div>

<div class="styled-text">
    <h1>O SYSTEMIE ŻYWIENIOWYM:</h1>
    <p>Ketoza to stan, w którym organizm pozyskuje energię nie z cukru (glukozy), ale z tłuszczu
        nagromadzonego w tkankach. Stan ketozy to efektywne spalanie tłuszczu, szczególnie pożądane przez osoby
        odchudzające się. Ketoza jest jednak przydatna także w leczeniu i łagodzeniu napadów padaczkowych u dzieci.
    </p>
    <h2>Na czym polega stan ketozy?</h2>
    <p>
        Ketoza to wymuszona synteza ciał ketonowych. W stanie ketozy w wątrobie produkowane są
        tak zwane ciała ketonowe, które powstają między innymi w wyniku obniżenia poziomu insuliny i rozkładu tłuszczu,
        czyli wykorzystanie w celu wytworzenia energii nie glukozy, ale tłuszczu zgromadzonego w komórkach ciała.
    </p>
    <h2>Jak wywołać stan ketozy w organizmie?</h2>
    <p>
        Jednym ze sposobów wywołania w organizmie stanu ketozy jest dieta tłuszczowa, nazywana dietą ketogenną lub dietą
        keto. Jest to dieta przeznaczona dla osób chorych na padaczkę oraz stosowana w celu redukcji masy ciała,
        pozwalająca szybko i efektywnie pozbyć się tkanki tłuszczowej. Dieta ta polega na tym, że eliminuje się
        węglowodany przyjmowane wraz z pożywieniem i zastępuje się je tłuszczami.
        Zmiana sposobu odżywiania wymusza syntezę ciał ketonowych i spalanie tłuszczu. Podczas gdy nadmiar węglowodanów
        zamienia się w tłuszcz odkładany w tkankach, dostarczanie organizmowi nadmiaru tłuszczu (przy jednoczesnym
        wyeliminowaniu węglowodanów) nie ma takiego efektu. Dieta tłuszczowa ma podobny skutek jak głodówka, a z
        niedoborem energii organizm radzi sobie, uruchomiając spalanie nagromadzonego w tkankach tłuszczu. W takiej
        sytuacji organizm przechodzi w stan ketozy, czyli tworzą się w nim ciała ketonowe. Tym samym spożywając dużo
        tłuszczu, wywołuje się procesy, które przyspieszają spalanie tłuszczu wcześniej odłożonego w tkankach.
        Zasady diety ketogennej polegają na tym, że spożywa się dziennie jedynie 15 procent białka i 5 procent
        węglowodanów. Resztę, czyli 80 procent dziennej diety, stanowią tłuszcze.
    </p>
    <h2>Co da ci cukrowy detoks?</h2>

    <p>Dla kogo korzystna jest ketoza i wywołująca ją dieta tłuszczowa, a kto powinien jej unikać?
        Dietę powodującą stan ketozy stosuje się wspomagająco w leczeniu padaczki u dzieci. Badania wykazały bowiem, że
        dieta powodująca stan ketozy zmniejsza częstotliwość napadów padaczkowych.
        Dietę ketogenną stosuje się również pomocniczo w leczeniu cukrzycy i niektórych nowotworów. Antyrakowe działanie
        stanu ketozy nie zostało jednak potwierdzone w badaniach naukowych.
        Ketoza postrzegana jest również jako sposób walki z otyłością. Pozwala ona zredukować tkankę tłuszczową i
        ograniczyć apetyt, co sprawia, że rzadziej pojawia się efekt jo-jo. Należy jednak pamiętać, że dieta ketogenna i
        powodowany przez nią stan ketozy nie są wskazane dla osób, w przypadku których występują zaburzenia pracy
        wątroby, nerek oraz trzustki.
        Dieta powodująca stan ketozy nie dostarcza składników odżywczych w ilościach i proporcjach, jakie są potrzebne
        do prawidłowego działania organizmu. Stąd brać się mogą niedobory pokarmowe, na przykład błonnika, wapnia oraz
        witamin. U osób na diecie tłuszczowej mogą wystąpić dolegliwości ze strony układu pokarmowego takie jak
        biegunki, nudności, bóle brzucha i wymioty.</p>
</div>

</body>
</html>